<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universal Summa Script</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <div class="loader"></div>
                Universal Summa Script
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNav">
                <ul class="menu">
                    <li class="item">
                        <a href="#" class="link">
                            <span style="color: white;">Menu</span>
                            <svg viewBox="0 0 24 24" class="arrow" width="20" height="20">
                                <path d="M12 16L6 10H18L12 16Z"></path>
                            </svg>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="/edu-videos" class="submenu-link">EDU-Videos</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/podcast" class="submenu-link">Podcast</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/meeting" class="submenu-link">Meeting</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/entertainment" class="submenu-link">Entertainment</a>
                            </li>
                            <li class="submenu-item">
                                <a href="/supported-websites" class="submenu-link">Supported Websites</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
